* {
  font-family: Garamond Pro;
  text-align: center;
  font-weight: light;
  -webkit-font-smoothing: antialiased;
}

html {
  background-color: white;
}

form {
  position: absolute;
  display: inline-block;
  max-width: 400px;
  min-width: 200px;
  box-sizing: border-box;
  padding: 30px 25px;
  border-radius: 40px;
  margin: 40px 0;
  left: 50%;
}
form h1 {
  color: white;
  font-weight: 100;
  letter-spacing: 0.01em;
  margin-left: 15px;
  margin-bottom: 35px;
}
form button {
  margin-top: 35px;
  background-color: black;
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 60px;
  color: white;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: initial;
  z-index: 1;
}

form button:hover, form button:focus {
  color: black;
  background-color: white;
}

form .question label {
  transform-origin: center;
  color: white;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 17px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: relative;
  margin-top: -40px;
  z-index: 2;
  pointer-events: none;
  transform: translate(0, -35px);
}
