button {
    margin: 1rem;
    background : Transparent;
    outline : none;
    border : none;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Garamond Pro';
    font-size : 36;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.1s;
    align-items: center;
    top: 50%;
    left: 50%;
    justify-content: center;
}
  
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: #fff;
  }
  
  a {
    color:#fff;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }

  b {
    color:#fff;
    font-size: 60px;
    font-weight:lighter;
  }

  b.waitingForGameLink {
    color:#fff;
    font-size: 36px;
    font-weight:lighter;
  }
  
  a:hover {
    color: #6600cc;
    text-shadow:0px 0px 10px #6600cc;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }